<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616243502406-k8rv2jar72vq35c1sdu1nt91gadg4dv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616243502406-k8rv2jar72vq35c1sdu1nt91gadg4dv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>616243502406-ok3a5fo5rrjjh5sk7m68ub9rm7dnil2d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJx4M6H0lR8rkGm7dfdS8W6uCXGaEFwXk</string>
	<key>GCM_SENDER_ID</key>
	<string>616243502406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marconagy.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-fe90e</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-fe90e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616243502406:ios:f6618b536c349d86379947</string>
</dict>
</plist>